// #section02------------

.act-title {
  text-align: center;
  font-size: $heading-font-xs;
  background: linear-gradient(transparent 50%, #fff0d2 50%);
  background-image: linear-gradient(transparent 50%, rgb(255, 240, 210) 50%);
  background-position-x: initial;
  background-position-y: initial;
  background-size: initial;
  background-repeat-x: initial;
  background-repeat-y: initial;
  background-attachment: initial;
  background-origin: initial;
  background-clip: initial;
  background-color: initial;
  width: fit-content;
  @include media-breakpoint-up(md) {
    font-size: $heading-font-md;
  }
  margin-bottom: 5%;
  color: $color-text-secondary !important;
  font-weight: 900;
}

.act-text {
  font-size: $text-font-xs;
  @include media-breakpoint-up(md) {
    font-size: $text-font-md;
  }
  color: $color-text-secondary;
  font-weight: 900;
  &-category {
    padding: 3px;
    margin: 5px;
    font-size: 5px;
    @include media-breakpoint-up(md) {
      font-size: 10px;
    }
    color: #fff;
    background-color: $color-info;
  }
}
.act-text-bt {
  text-align: center;
  font-size: $text-font-xs;
  @include media-breakpoint-up(md) {
    font-size: $text-font-sm;
  }
  color: $color-text-secondary;
  font-weight: 900;
  &-category {
    padding: 3px;
    margin: 5px;
    font-size: 5px;
    @include media-breakpoint-up(md) {
      font-size: 10px;
    }
    color: $color-text-secondary;
    background-color: $color-info;
  }
}
.list_category {
  /* font-weight: bold; */
  border-bottom: $color-info 2px solid;
  padding-bottom: 10px;
  margin-top: 2%;
  margin-bottom: 8%;
  line-height: 1;
  z-index: 999;
  width: calc(100% - 20px);
}
.act-img {
  height: auto;
  width: 100%;
  margin: auto !important;
  background-size: cover;
  background-position: center;
  transition: 0.5s;
  @include filter(0.9);
}
.text {
  font-weight: bold;
  @include flex(column, center, center);
}

.act-img:hover {
  @include filter(0.6);
  text-decoration: none;
}

a,
.act-text,
.text .act-text-bt:hover {
  text-decoration: none !important;
}

// view-more
.btn-wrap {
  width: 100%;
  margin-top: 5%;
  @include flex(column, center, center);
}
.btn-view {
  width: 50%;
  @include media-breakpoint-up(md) {
    width: 30%;
  }
  @include media-breakpoint-up(lg) {
    width: 15%;
  }
  display: block;
  box-sizing: border-box;
  background-color: #fff;
  border: 2px solid $color-text-secondary;
  border-radius: 50px;
  color: $color-text-secondary;
  font-size: 10px;
  text-align: center;
  padding: 8px 0 8px 0;
}
.btn-view:hover {
  display: inline-block;
  cursor: pointer;
  background-color: #fff;
  border: 3px solid $color-info;
  transition: 1s;
  transition-property: all;
  transition-duration: 1s;
  transition-timing-function: ease;
  transition-delay: 0s;
}
// #section03------------
.container {
  position: relative;
  display: block;
  width: 100%;
  margin: 0 auto;

  &-full {
    display: block;
    width: 100%;
    height: 500px;
    @include media-breakpoint-up(md) {
      height: 600px;
    }
  }

  &-banner {
    position: relative;
    display: block;
    background-image: url("https://scontent.ftpe13-2.fna.fbcdn.net/v/t1.0-9/143502264_3616743085076193_3351609079308320146_n.jpg?_nc_cat=106&ccb=3&_nc_sid=825194&_nc_ohc=NF50gFBGQWMAX8NMicp&_nc_ht=scontent.ftpe13-2.fna&oh=557620908489d79c8e5d1bc379c7aaf8&oe=60530529");
    background-repeat: no-repeat;
    @include filter(0.8);
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    z-index: 999;

    &-title {
      text-align: center;
      position: absolute;
      top: 150px;
      @include media-breakpoint-up(md) {
        top: 200px;
      }
      @include media-breakpoint-up(lg) {
        top: 100px;
      }
      left: 30px;
      @include media-breakpoint-up(md) {
        left: 150px;
      }
      display: block;
      height: 50px;
      line-height: $line-height-lg;
      font-size: $heading-font-xs;
      @include media-breakpoint-up(md) {
        font-size: $heading-font-sm;
      }
      @include media-breakpoint-up(lg) {
        font-size: $heading-font-lg;
      }
      font-weight: 500;
      color: $color-text;
      text-transform: capitalize;
      z-index: 999;
    }

    &-sub-title {
      position: absolute;
      top: 230px;
      @include media-breakpoint-up(md) {
        top: 330px;
      }
      @include media-breakpoint-up(lg) {
        top: 250px;
      }
      font-weight: 100;
      left: 60px;
      @include media-breakpoint-up(md) {
        left: 160px;
      }
      font-size: $heading-font-xs;
      @include media-breakpoint-up(md) {
        font-size: $heading-font-sm;
      }
      @include media-breakpoint-up(lg) {
        font-size: $heading-font-md;
      }
      font-weight: 700;
      color: $color-text;
      text-transform: capitalize;
      z-index: 999;
    }
  }
}

// #section04------------
.container-intro {
  padding-left: 25px;
  padding-right: 25px;
  width: 100%;
  color: $color-text-secondary !important;
  font-size: $heading-font-xl;
}

.container-intro-title {
  text-align: center;
  font-weight: 400;
  font-size: $heading-font-lg;
  @include media-breakpoint-up(lg) {
    font-size: $heading-font-xl;
  }
  line-height: $line-height-sm;
  margin-bottom: 26px;
  margin-top: -0.3em;
  color: $color-text-secondary;
}
.container-intro-subtitle {
  font-size: $text-font-md;
  color: $color-text-secondary;
}

.container-intro-sub {
  font-size: $heading-font-lg;
  line-height: $line-height-sm;
  width: 100%;
  display: inline-block;
  font-weight: 400;
  letter-spacing: $letter-spacing-sm;
  margin-bottom: 46px;
  text-align: center;
  color: $color-text-secondary;
}

.container-intro-sub-txt {
  font-size: $text-font-sm;
  line-height: $line-height-lg;
  width: 100%;
  display: inline-block;
  text-align: center;
}

// section05
.swiper-container {
  max-width: 1080px;
  width: 100%;
  height: 340px;
  padding-bottom: 20px;
}
.swiper-slide {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  padding: 5px 15px;
  box-sizing: border-box;
  .intro {
    align-self: flex-start;
    font-weight: 400;
    color: $color-text-secondary;
    font-size: 16px;
    padding-bottom: 20px;
    border-bottom: 1px solid $color-info;
  }
}
.swiper-pagination {
  bottom: 0px;
}
.d-xs-none {
  display: none;
}
