.card {
  display: block;
  background-color: #fff;
  border: 1px solid #e4e4e4;
  box-shadow: 0 1px 4px 0;
  padding: 1.5rem;
  border-radius: 0.4rem;
  word-wrap: break-word;
  &-body {
    @include flex(column, center, end);
  }
  &-title {
    color: $color-text-secondary;
    font-size: $text-font-md;
    @include flex(column, center, start);
  }
  &-txt {
    color: $color-text-secondary;
    font-size: $text-font-md;
    text-align: left;
    @include flex(column, center, start);
  }
  &-foot {
    margin: 0 auto;
    margin-bottom: 4%;
  }
}

.filter-container {
  display: block;
  background-color: #fff;
  border: 1px solid #e4e4e4;
  box-shadow: 0 1px 4px 0;
  padding: 1.5rem;
  border-radius: 0.4rem;
  word-wrap: break-word;
  margin-bottom: 10%;
  @include media-breakpoint-up(lg) {
    display: block;
    background-color: #fff;
    border: 1px solid #e4e4e4;
    box-shadow: 0 1px 4px 0;
    padding: 1.5rem;
    border-radius: 0.4rem;
    word-wrap: break-word;
  }
}
.form-control {
  text-align: center;
  display: block;
  width: 100%;
  height: calc(2.5rem + 2px);
  padding: 0.232rem 0.75rem;
  line-height: 1.5;
  color: #444;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #e4e4e4;
  border-radius: 0.7rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  margin-bottom: 5%;
}
.serch-control {
  font-weight: bold;
  border-radius: 0.7rem;
}
.list-group-item.active {
  border-color: $color-info;
  background-color: $color-info;
}

.btn-detail {
  height: 10%;
  font-weight: bold;
  border: 3px solid $color-info;
  border-color: $color-info;
  background-color: $color-info;
}
.btn-detail a {
  color: $color-text !important;
}
.btn-detail:hover {
  cursor: pointer;
}
.card-foot {
  @include flex(column, center, center);
}
