.act-flow {
  text-align: center;
  font-family: EB Garamond, serif;
  font-size: 1.8rem;
  letter-spacing: 0.4em;
  text-indent: 0.4em;
  line-height: 1.4em;
  margin: 120px 0 70px 0;
  color: grey;
}

.ly_middle {
  max-width: 830px;
  margin: auto;
}
