:root {
  /* 主題色 */
  --MT1: #000000 !important;
  --MT2: #343a40 !important;
  --MT3: #6c757d !important;
  --MT4: #c7c6c6 !important;
  --MT5: #eeeeee !important;

  /* 黑色透明 */
  --black25: rgba(0, 0, 0, 0.25) !important;
  --black50: rgba(0, 0, 0, 0.5) !important;
  --black75: rgba(0, 0, 0, 0.75) !important;

  /* 白色透明 */
  --white25: rgba(255, 255, 255, 0.25) !important;
  --white50: rgba(255, 255, 255, 0.5) !important;
  --white75: rgba(255, 255, 255, 0.75) !important;

  /* 陰影 */
  --shadow1: 0 0 5px var(--black25) !important;
  --shadow2: 0 0 10px var(--black50) !important;
  --shadow3: 0 0 15px var(--black75) !important;

  /* 內距、外距的級數 spacing */
  --s0: 0 !important;
  --s1: 0.25rem !important;
  --s2: 0.5rem !important;
  --s3: 1rem !important;
  --s4: 1.5rem !important;
  --s5: 3rem !important;
}

/* 自訂按鈕 */
.btn-coffee {
  color: var(--coffee5);
  background-color: var(--coffee3);
}

.btn-coffee:hover {
  color: var(--coffee5);
  background-color: var(--coffee2);
}

.btn-coffee:focus,
.btn-coffee.focus {
  box-shadow: var(--shadow1);
}

.btn-coffee.disabled,
.btn-coffee:disabled {
  color: var(--coffee5);
  background-color: var(--coffee3);
  border-color: var(--coffee2);
}

.btn-coffee:not(:disabled):not(.disabled):active,
.btn-coffee:not(:disabled):not(.disabled).active,
.show > .btn-coffee.dropdown-toggle {
  color: var(--coffee5);
  background-color: var(--coffee3);
  border-color: var(--coffee2);
}

.btn-coffee:not(:disabled):not(.disabled):active:focus,
.btn-coffee:not(:disabled):not(.disabled).active:focus,
.show > .btn-coffee.dropdown-toggle:focus {
  box-shadow: var(--shadow1);
}
body,
html {
  font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3",
    "Hiragino Mincho ProN", "Sawarabi Mincho", "HG明朝E", "ＭＳ Ｐ明朝",
    "ＭＳ 明朝", serif !important;
  letter-spacing: 0.1 rem;
}

/*  Navbar*/

#navbarToggleExternalContent {
  transform: translateX(-100%);
  transition: transform 0.35s ease;
  display: block;
  height: 100%;
  min-height: 100%;
}

#navbarToggleExternalContent.menu-show {
  transform: translateX(0%);
}
.navbar-brand {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  font-size: 1rem;
  background-color: rgba(0, 0, 0, 0);
}

#app > div > div:nth-child(1) > nav > button > span:nth-child(3) {
  font-size: 12px;
  font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3",
    "Hiragino Mincho ProN", "Sawarabi Mincho", "HG明朝E", "ＭＳ Ｐ明朝",
    "ＭＳ 明朝", serif;
}
.navbar .form-control {
  border-width: 0;
  border-radius: 0;
  z-index: 9999;
}

.form-control-dark {
  color: #fff;
  background-color: rgba(236, 236, 236, 0.1);
  border-color: rgba(255, 255, 255, 0.1);
}

.form-control-dark:focus {
  border-color: transparent;
  box-shadow: 0 0 0 3px rgba(168, 166, 166, 0.25);
}

/*   carousel  */
/* section01 輪播圖--------------------------------------------------------------------------------------------------------------- */

.carousel-control-prev,
.carousel-control-next {
  transition: 0.5 s;
}
.carousel-caption {
  font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3",
    "Hiragino Mincho ProN", "Sawarabi Mincho", "HG明朝E", "ＭＳ Ｐ明朝",
    "ＭＳ 明朝", serif;
  position: absolute;
  right: 15%;
  bottom: 5%;
  top: 0;
  left: 15%;
  z-index: 10;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #fff;
  text-align: center;
  font-size: 4rem;
  font-weight: bold;
}
.carousel-item img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
/* 輪播圖放大動畫------------------------------------------------------------------------------------------------------------------- */
.img-scaleBig {
  animation: img-scaleBig 20s 1s ease forwards;
}

@keyframes img-scaleBig {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.2);
  }
}

/* 自定義輪播圖指示器-------------------------------------------------------------------------------------------------------------- */

.carousel-indicators li {
  opacity: 0.5;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  /* 字元顯示 */
  text-indent: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.6s ease;
}
.carousel-indicators {
  display: flex;
  justify-content: end;
  align-items: center;
}

.carousel-indicators li.active {
  opacity: 0.5;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.carousel-indicators li.active span {
  font-size: 1rem;
}
.brightness {
  -webkit-filter: brightness(0.6);
}

// icon

.fab {
  color: rgb(68, 66, 66);
  font-size: 2rem;
}
.fas {
  color: rgb(68, 66, 66);
  font-size: 2rem;
}

/* section03 ------------------------------------------------------------------------------------------------------------- */

#section03 {
  font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3",
    "Hiragino Mincho ProN", "Sawarabi Mincho", "HG明朝E", "ＭＳ Ｐ明朝",
    "ＭＳ 明朝", serif;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

#section03 h1 {
  text-align: center;
  margin: var(--s0) 0;
  color: var(--MT4);
}

#section03 > .container > .row {
  padding-top: var(--s4);
}

#section03 .col-lg-3 {
  margin-bottom: var(--s3);
}
#section03 .view {
  position: relative;
  overflow: hidden;
}

#section03 .view img {
  transition: 0.5s;
  -webkit-filter: brightness(0.8);
}

#section03 .view .text {
  color: snow;
  font-weight: bold;
  /* 文字在上層 */
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: 1s;
}

#section03 .text p {
  display: none;
}

#section03 .view:hover img {
  transform: scale(1.2);
}

#section03 .view:hover .text {
  background-color: var(--black50);
}

//
.sub-banner {
  position: relative;
  display: block;
  height: 200px;
  background: url("https://scontent.ftpe8-3.fna.fbcdn.net/v/t1.0-9/122106744_688170938468744_2976418716469693330_o.jpg?_nc_cat=107&ccb=2&_nc_sid=a26aad&_nc_ohc=bPiUpeAZ4lAAX_rq5jd&_nc_ht=scontent.ftpe8-3.fna&oh=97d341a4527ed0d342ab7d7021d4c3cd&oe=602A95B6")
    no-repeat; // padding-box;
  -webkit-filter: brightness(0.9);
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
  text-transform: capitalize;
}

.banner-title {
  position: absolute;
  top: 200px;
  left: 50px;
  display: block;
  height: 50px;
  line-height: 50px;
  font-size: 36px;
  font-weight: 700;
  color: white;
  text-transform: capitalize;
  z-index: 999;
}

.banner-sub-title {
  position: absolute;
  top: 260px;
  font-weight: 100;
  left: 80px;
  font-size: 20px;
  font-weight: 700;
  color: white;
  text-transform: capitalize;
  z-index: 999;
}

.container {
  position: relative;
  display: block;
  width: 1110px;
  margin: 0 auto;
}

.full-container {
  display: block;
  width: 100%;
  height: 400px;
  margin: 48px auto;
}

// 文字
.padding-lr {
  padding-left: 25px;
  padding-right: 25px;
}

.lr {
  width: 100%;
  max-width: 1230px;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
}
.title_mt {
  text-align: center;
  font-weight: 400;
  font-size: 2.5rem;
  line-height: 0.8em;
  margin-bottom: 26px;
  margin-top: -0.3em;
}
.title_mt span {
  font-size: 15px;
}

.sub-mt {
  font-size: 2.2rem;
  line-height: 1.5;
  width: 100%;
  display: inline-block;
  font-weight: 400;
  letter-spacing: 0.05em;
  margin-bottom: 46px;
}
.sub-txt {
  font-size: 1.2rem;
  line-height: 2.1em;
  width: 100%;
  display: inline-block;
}
.txtCenter {
  text-align: center;
}
